{% extends 'layout/default.html.twig' %}

{% block page_title %}DSA5 Regelwiki - Hesinde Edition{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    {% set schemas = get_schemas() %}
    <div class="row">
        {% for schema in schemas %}
            {% set entities = get_entities(schema.name) %}
            <div class="col-md-3 col-sm-6">
                <div class="info-box">
                    <a href="{{ path('/'~schema.alias) }}">
                        <span class="info-box-icon bg-aqua"><i class="{{ schema.icon }}"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{ ('schema_name.' ~ schema.name)|trans }}</span>
                            <span class="info-box-number">{{ entities|length }}</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h4>Proudly powered by:</h4>
    <a href="https://www.ulisses-ebooks.de/cc/7/scriptoriumaventuris" target="_blank"><img class="scriptorium-logo" src="{{ asset('images/scriptorium-aventuris.png') }}" alt="Scriptorium Aventuris"></a>
{% endblock %}
