.sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    max-height: 1em;
}

$sidebar-width: 260px;

.main-header {
    .logo {
        font-family: $font-family-sans-serif;
        width: $sidebar-width;
    }
    .navbar {
        margin-left: $sidebar-width;
    }
}

.main-sidebar {
    font-size: 15px;
    width: $sidebar-width;
}
.sidebar-collapse .main-sidebar {
    transform: translate($sidebar-width * -1, 0);
}
.content-wrapper, .main-footer {
    margin-left: $sidebar-width;
}

.treeview-menu > li > a {
    font-size: 15px;
}
