.attribute {
    font-weight: bold;
}

.attribute-MU {
    color: #ff0000;
}
.attribute-KL {
    color: #9900cc;
}
.attribute-IN {
    color: #33cc33;
}
.attribute-CH {
    color: #000000;
}
.attribute-FF {
    color: #fcff00;
    background-color: #808080;
}
.attribute-GE {
    color: #0000ce;
}
.attribute-KO {
    color: #ffffff;
    background-color: #606060;
}
.attribute-KK {
    color: #ff6600;
}

.property {
    font-weight: bold;
}
.property-ZK {
    color: #6e4f1c;
}
.property-SK {
    color: #001a35;
}

td.details-control {
    cursor: pointer;
}

.details-table {
    td {
        text-align: left;
        padding-right: 5px;
    }

    th {
        vertical-align: top;
        padding-right: 5px;
    }
}

.skin-blue .sidebar a:focus {
    text-decoration: none;
}

.scriptorium-logo {
    max-width: 300px;
}
