{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block logo_path %}{{ path('homepage') }}{% endblock %}
{% block page_title %}DSA5 Regelwiki - Hesinde Edition{% endblock %}

{% block logo_large %}DSA5 Regelwiki [HE]{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('adminlte') }}
{% endblock %}

{% block footer %}
    <footer class="main-footer">
        <div class="clearfix">
            <div class="pull-right hidden-xs">
                <b>Version</b> {{ version_number }},
                <b>Stand der Inhalte</b> {{ version_date|date('d.m.Y') }}
            </div>
        </div>
        <p class="text-justify">
            Dieses Produkt wurde unter Lizenz erstellt. Das Schwarze Auge und sein Logo sowie Aventuria, Dere, Myranor, Riesland, Tharun, Uthuria, The Dark Eye und ihre Logos sind eingetragene Marken vonUlisses Medien und Spiele Distribution GmbH in Deutschland, den U.S.A. und anderen Ländern. Ulisses Spiele und sein Logo sind eingetragene Marken der Ulisses Medien und Spiele Distribution GmbH.

            Dieses Werk enthält Material, das durch Ulisses Spiele und/oder andere Autoren urheberrechtlich geschützt ist. Solches Material wird mit Erlaubnis im Rahmen der Vereinbarung über Gemeinschaftsinhalte für SCRIPTORIUM AVENTURIS verwendet.

            Alle anderen Originalmaterialien in diesem Werk sind Copyright {{ 'now'|date('Y') }} von David Grüner und werden im Rahmen der Vereinbarung über Gemeinschaftsinhalte für SCRIPTORIUM AVENTURIS veröffentlicht.
        </p>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('adminlte') }}
{% endblock %}
